[submodule "r2_gaussian/submodules/simple-knn"]
	path = r2_gaussian/submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
[submodule "r2_gaussian/submodules/xray-gaussian-rasterization-voxelization/third_party/glm"]
	path = r2_gaussian/submodules/xray-gaussian-rasterization-voxelization/third_party/glm
	url = https://github.com/g-truc/glm.git
